// color
$white: #fff;
$black: #000;
$gray: #666;
$gray01: #797979;
$gray02: #5d5d5d;
$lightGray: #efefef;
$lightGray02: #dedede;
$darkGray: #212121;

$activeRed: #fb3e1d;

// breakpoints
$contentCenter: 1200px;
$windowPC: 769px;
$windowSP: 768px;
$widthPrintPC: 1024px;

// header height
$headerHeightPC: 95px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;